<ion-modal-view>
  <form name="projectEditor">
    <ion-header-bar class="bar-royal">
      <h1 class="title" ng-bind="controller.title"></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-input class="item item-input" ng-class="{'ion-input-error': projectEditor.projectName.$invalid}">
          <ion-label>Project</ion-label>
          <input name="projectName" type="text" ng-model="controller.editModel.name" required>
          <div ng-messages="projectEditor.projectName.$error" role="alert">
            <div ng-messages-include="app/common/templates/errorMessages.html"></div>
          </div>
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>JIRA Task Id</ion-label>
          <input type="text" ng-model="controller.editModel.jiraTaskId">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>SBVB Task Id</ion-label>
          <input type="text" ng-model="controller.editModel.sbvbTaskId">
        </ion-input>
        <ion-input>
          <ion-checkbox ng-model="controller.isActive"
                        ng-change="controller.editModel.status = controller.isActive ? 'active' : 'inactive'">Project is Active</ion-checkbox>
        </ion-input>
      </ion-list>
    </ion-content>
    <ion-footer-bar>
      <div class="row">
        <button class="col button button-default" ng-click="controller.cancel()">Cancel</button>
        <button class="col button button-energized" ng-click="controller.save()"
                ng-disabled="projectEditor.$invalid">Save
        </button>
      </div>
    </ion-footer-bar>
  </form>
</ion-modal-view>
