<ion-view view-title="All Projects">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="controller.create()">
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-stable">
    <div class="row">
      <div class="col list-header-col">
        Project Name
      </div>
      <div class="col list-header-col">
        JIRA Task
      </div>
      <div class="col list-header-col">
        SBVB Task
      </div>
    </div>
  </div>

  <ion-content class="has-subheader">
    <ion-list>
      <ion-item ng-repeat="project in controller.projects"
                ng-click="controller.edit(project)">
        <div class="row row-no-padding">
          <div class="col truncate" ng-bind="project.name"></div>
          <div class="col text-center" ng-bind="project.jiraTaskId"></div>
          <div class="col text-center" ng-bind="project.sbvbTaskId"></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
