<ion-view class="list-page" view-title="Projects">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="controller.create()">
    </button>
  </ion-nav-buttons>

  <ion-header-bar class="bar bar-subheader bar-stable item-input-inset">
    <ht-search ht-placeholder="Filter..." ng-model="controller.searchText"></ht-search>
  </ion-header-bar>

  <ion-content class="has-subheader">
    <ion-scroll>
      <ion-item ng-repeat="item in controller.projects | filter: controller.searchText"
                ng-show="item.status === 'active' || controller.showInactive"
                ng-class="{inactive: item.status === 'inactive'}"
                ng-click="controller.edit(item)">
        <ng-include src="'app/common/templates/projectListItem.html'"></ng-include>
      </ion-item>
    </ion-scroll>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <ion-checkbox ng-model="controller.showInactive">Show Inactive Jobs</ion-checkbox>
  </ion-footer-bar>
</ion-view>
