<ion-view>
  <ion-content>
    <div style="margin: 18px 0;"></div>

    <ng-include src="'app/common/templates/homeTraxLogo.html'"></ng-include>

    <form>
      <ion-list>
        <ion-input class="item item-input">
          <ion-label>Username:</ion-label>
          <input type="text" ng-model="controller.username" ng-change="controller.clearErrorMessage()">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>Password:</ion-label>
          <input type="password" ng-model="controller.password" ng-change="controller.clearErrorMessage()">
        </ion-input>
        <ion-item class="text-center text-error" ng-show="!!controller.errorMessage">
          <span ng-bind="controller.errorMessage"></span>
        </ion-item>
        <ion-item>
          <button class="button button-block button-positive"
                  ng-disabled="!controller.username || !controller.password"
                  ng-click="controller.login()">Log In
          </button>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
