@import "../../../../scss/colors";

ht-date-tabs {
  .row {
    padding: 0;

    .col {
      padding: 0;
      border-bottom: solid 5px transparent;
      text-align: center;

      &.selected {
        border-bottom-color: $theme-subheader;
      }
    }
  }
}
