<ion-view class="view-timesheet" view-title="Timesheet">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-outline" ng-click="controller.createTaskTimer()">
    </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-stable no-padding">
    <ht-date-tabs ht-timesheet="controller.timesheet"
                  ng-model="controller.currentDate"></ht-date-tabs>
  </div>
  <ion-content class="has-subheader">
    <ion-list can-swipe="true">
      <ion-item ng-repeat="tt in controller.taskTimers">
        <ht-task-timer ng-model="tt" ht-clicked="controller.timerClicked(tt)"
                       ht-toggled="controller.timerToggled(tt)"></ht-task-timer>
        <ion-option-button class="button-default button-clear" ng-click="controller.deleteTaskTimer(tt)" style="font-size: 48px; padding-top: 41px"><span class="ion-trash-b"></span></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="row">
      <div class="col">
        <div class="total-line pull-right">
          <span class="label">Total Time:</span>
          <span class="static-data" ng-bind="controller.totalTime | hoursMinutes"></span>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
