$theme-primary:         #DD4814;
$theme-alternate:       #772953;
$theme-subheader:       #DDD;

$theme-success:         #91C653;
$theme-info:            #31708F;
$theme-warning:         #FC9A22;
$theme-danger:          #DF382C;

$theme-dark:            #6C6D71;

$theme-text:            black;
$theme-subtext:         lighten($theme-text, 45%);
$theme-inactive-text:   lighten($theme-text, 75%);
